.scrap-portal
  %h3
    Edit #{resource_name.to_s.humanize}
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = f.error_notification
    .form-inputs
      = f.input :email, required: true, autofocus: true
      = f.input :img, label: 'profile pic'
      = f.input :profile_pic_visible, label: 'profile pic visible to all'
      = f.input :handle, label: 'nickname'
      = f.input :facebook_link, label: 'facebook link (optional)'
      = f.input :handle_visible, label: 'facebook link visible to all'
      = f.input :gender, as: :radio_buttons, collection: ['male', 'female', 'other'].map{|p| [p, p]}, value_method: :first, input_method: :last
      
      = f.input :age
      %h3
        What you will aks to the one who is proposing you
      = f.input :question_1, label: 'Question 1 (optional)' 
      = f.input :question_2, label: 'Question 2 (optional)'
      = f.input :question_3, label: 'Question 3 (optional)'
      = f.input :city
      = f.input :location_visible
      = f.input :password, hint: "leave it blank if you don't want to change it", required: false, input_html: { autocomplete: "new-password" }
      = f.input :password_confirmation, required: false, input_html: {autocomplete: "new-password" }
      = f.input :current_password, hint: "we need your current password to confirm your changes", required: true, input_html: { autocomplete: "current-password" } 
    .form-actions
      = f.button :submit, "Update"