.sign-container
  %h3.text-center
    Sign up
  = simple_form_for(resource, as: :user, url: registration_path(:user)) do |uf|
    .form-inputs
      = uf.input :email, label: 'email'
      = uf.input :password, label: 'password'
      = uf.input :handle, label: 'nickname'
      = uf.input :gender, as: :radio_buttons, collection: ['male', 'female', 'other'].map{|p| [p, p]}, value_method: :first, input_method: :last
      = uf.input :age
      = uf.input :city                              
    .form-actions
      = uf.button :submit, "Sign up"