.user.col-sm-4.pull-left{class: current_user.present? ? 'signed' : 'unsigned'}
  .user-thumb
    = render partial: 'user_details', locals: {user: user}
    = simple_form_for(Response.new, html: {remote: true}) do |r|
      - if user.question_1.present?
        %strong= r.input :answer_1, label: user.question_1 
      - if user.question_2.present?
        %strong= r.input :answer_2, label: user.question_2 
      - if user.question_3.present?
        %strong= r.input :answer_3, label: user.question_3
      = r.hidden_field :to_user_id, value: user.id
      - if current_user && current_user != user
        .text-center= r.submit 'Propose'

