.users
  - @responses.each do |response|
    - user = User.find(response.from_user_id)
    .user.col-sm-4.pull-left
      .user-thumb
        = render partial: 'users/user_details', locals: {user: user}
        .response-content
          %h2 answers
          - [1,2,3].each do |i|
            - if response["answer_#{i}"].present?
              .question
                = user["question_#{i}"]
              .answer
                = response["answer_#{i}"]
        = link_to 'accept', accept_response_path(response), method: :put, class: 'pull-left nav-item block user-action accept', remote: true
        = link_to 'reject', reject_response_path(response), method: :put, class: 'pull-right nav-item block user-action reject', remote: true
        .clearfix